.img1{
    width: fit-content;
    height: 200px;
}
.img2{
    width: fit-content;
    height: 200px;
}
.img3{
    width: fit-content;
    height: 200px;
}
.img4{
    width: fit-content;
    height: 190px;
}
.img5{
    width: fit-content;
    height: 190px;
}
.img7{
    width: fit-content;
    height: 190px;
}